*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main
{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#nav{
    height: 60px;
    width: 100%;
    /* background-color: rgb(48, 218, 18); */
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding:  0 25px;
    
}

#nav1{
    /* background-color: yellow; */
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.gola{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
   
}

#nav2{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content:  center;
    gap: 40px;
}

#nav2 h4{
    font-size: 15px;
    font-weight: 600;
   
}

#nav2 h4 span{
    color: rgb(155, 155, 196);
    margin-left: 15px;
}


#sec-div{
    /* background-color: red; */
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
     padding: 0 50px;
    gap: 85px;
}

#sec-div h4{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#content{
    height: calc(100% - 120px);
    width: 100%;
    /* background-color: #579994; */
}
#text-content{
    width: 100%;
    height: 40%;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
     background-color: transparent;
     height: 5px;
  
}

#text-content::-webkit-scrollbar-thumb{
    background-color:orangered;
}

.elem{
    height: 100%;
    width: 70%; 
    flex-shrink: 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    
     
}
.elem h1{ 
    font-size: 130px;
    font-weight: 300;
}
#image-content{
    height: 60%;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    overflow-x: auto;    
}
#image-content::-webkit-scrollbar{
     display: none;
}

#image-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     
}


