*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main
{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#nav{
    height: 60px;
    width: 100%;
    /* background-color: rgb(48, 218, 18); */
    display: flex;
    align-items: center;
    justify-content: space-between;
     padding:  0 25px;
    
}

#nav1{
    /* background-color: yellow; */
     display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.gola{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
   
}

#nav2{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content:  center;
    gap: 40px;
    cursor: pointer;

}

#nav2 h4{
    font-size: 15px;
    font-weight: 600;
   
}

#nav2 h4 span{
    color: rgb(155, 155, 196);
    margin-left: 15px;
}


#sec-div{
    /* background-color: red; */
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
     padding: 0 50px;
    gap: 85px;
    cursor: pointer;

}

#sec-div h4{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
}

#content{
    height: 100%;
    width: 100%;
    /* background-color: #579994; */
}
#text-content{
    width: 100%;
    height: 40%;
    /* background-color: aquamarine; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar{
     background-color: transparent;
     height: 5px;
  
}

#text-content::-webkit-scrollbar-thumb{
    background-color:orangered;
}

.elem{
    height: 100%;
    width: 70%; 
    flex-shrink: 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    
    
     
}
.elem h1{ 
    font-size: 130px;
    font-weight: 300;
}
#image-content{
    height: 100%;
    width: 100%;
    background-color: yellowgreen;
    display: flex;
    overflow-x: auto;   
    margin: 2px; 
}
#image-content::-webkit-scrollbar{
     display: none;
}

#image-content img{
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     
}
 
#footer{
    height: 30%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}

 #upper-footer{
    height: 100%;
    width: 100%;
    background-color:  rgb(255, 255, 255);
 }
  #my-logo {
  display: flex;
  flex-direction: column; /* logo ke niche text lane ke liye */
  align-items: flex-start; /* sab kuch center me */
  justify-content:  flex-start;
  gap: 5px;
  margin: 12px;
}

/* Gole side by side lane ke liye */
.gola2-container {
  display: flex;
  gap: 5px;
}

.gola2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}

/* Text styling */
#my-logo h3 {
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}

#brand-name {
  display: flex;
 
  color: rgb(0, 0, 0);
 
  margin-left: 120px;
  gap: 40px;
  
}
#brand-name h4 {
  margin: 12px 0;
   font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
#brand-name h4:hover {
  text-decoration: underline;
}



.social-links {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.social-links a {
  color: rgb(0, 0, 0);              /* icon ka color */
  font-size: 22px;           /* icon size */
  transition: 0.3s ease;
  gap: 10px;
}

.social-links a:hover {
  color: #8e8e8e;            /* hover color change */
  transform: scale(1.5);     /* zoom effect */
}


 
.about-me {
  margin-top: 10px;
  display: flex;
justify-content: center;
align-items: center;
  gap: 10px;
}

.about-me p {
  margin: 5px;
  font-size: 18px;
  color: #000000;
  font-family: gilroy, sans-serif;
}

.about-me p:hover {
  
  cursor: pointer;
  text-decoration: underline; 
}